.c h2{
    font-family:timesnewroman;
    text-shadow:3px 2px rgb(199, 45, 45);      /*heading*/
    font-size: 40px;
    text-decoration: none;
    }
    
.c{             /*heading*/
    background: linear-gradient(to right, #00c6ff, #0072ff, #7f00ff);
    display: flex;
    justify-content: space-between;
    align-items: center;
    }

.abc1{            /*main h1*/
    background: linear-gradient(135deg, #1a2a6c, #b21f1f, #fdbb2d);
    height:250;
    text-align:center;
    padding:30;
    border-radius: 30%;
    }
  
  .c a{           /*heading*/
    font-size :20px;
    background: linear-gradient(to right, #141E30, #243B55);
    text-decoration:none;
    color:white;
    padding:20;
    }
      
  .c a:hover{            /*heading*/
    font-size:25px;
    text-decoration:underline overline;
    color:white;
    }


.quote {          /*quote*/
font-style: italic;
background: #ecf0f1;
padding: 15px;
border-left: 4px solid #3498db;
margin-bottom: 30px;
}

.glow-box {    /*main h1*/                 
  background-color: rgba(255, 255, 255, 0.05);
  border-radius: 25px;
  padding: 20px;
  margin: 50px auto;
  box-shadow:
    0 8px 16px rgba(0, 0, 0, 0.3),
    0 16px 40px rgba(0, 0, 0, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(10px);
  text-align: center;
  background: linear-gradient(90deg, #ff6a00, #ee0979);
  width: 90%;
  max-width: 1200px;
  box-sizing: border-box;
}

.glow-box h1 {       /*main h1*/   
  font-size: 2.5rem;
  background: black;
  margin-bottom: 20px;
  letter-spacing: 2px;
  background-clip: text;               /* Standard property */
  -webkit-background-clip: text;       /* WebKit-specific property */
  -webkit-text-fill-color: transparent; /* Enables text clipping with background */

}

.glow-box:hover {    /*main h1*/                   
  transform: scale(1.05); /* Makes the box larger */
  background: linear-gradient(90deg, #00c9ff, #00ff1a);
	transition: all 0.4s ease-in-out;
}

h2{     /*h2*/
    font-size:30px;
    text-decoration:underline;
    text-shadow:2px 1px red;
    text-align:center
    } 



.a{                        /*all links*/
    font-size:20px;
    background-color: rgba(94, 255, 156, 0.9);
    /*box-shadow: inset 0 0 20px rgba(128, 0, 128, 0.3);
    text-align: center;
    padding: 40px 60px;*/
    animation: fadeIn 1s ease-out;    
    }
      
.a:hover{              /*all links*/
    background: linear-gradient(to bottom right, #ff416c, #ff4b2b, #ff6a00, #c471ed, #f64f59);
    color: #ffffff;
    font-size:25px;
    font-family: 'Poppins', sans-serif;
    text-decoration:underline overline;
    }

.d{                  /*picture align right*/      
display:flex;
gap:30px;
}

.aa ,.bb,.cc{    /*footer*/
flex: 1 1 30%;
margin: 10px;
min-width: 250px;
padding:20;
box-sizing: border-box;
border: 2px solid yellow;
border-radius: 100px;
}

.last {             /*footer*/
    display:flex;
    flex-wrap: wrap;
    justify-content: space-between;
    text-align:center;
    }

.last h3{       /*footer*/
    text-decoration:underline;}